.main-content {
    flex: 1;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    margin-right: 1vh;
    margin-top: 1vh;
    border-radius: 1vh;
    height: 80vh; /* Set a fixed height for the main content */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-title a{
    font-size: small;
    color: #B3B3B3;
  }
  .section-title a:hover{
    color:#979799;
    text-decoration: underline;
  }
  .content-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .scrollable {
    max-height: 60vh; /* Set a maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  /* Scrollbar styling for WebKit-based browsers */
  .main-content::-webkit-scrollbar,
  .scrollable::-webkit-scrollbar {
    width: 12px;
  }
  
  .main-content::-webkit-scrollbar-track,
  .scrollable::-webkit-scrollbar-track {
    background: #121212;
  }
  
  .main-content::-webkit-scrollbar-thumb,
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #2A2A2A;
    border-radius: 10px;
    border: 3px solid #121212;
  }
  
  /* Scrollbar styling for Firefox */
  .main-content,
  .scrollable {
    scrollbar-color: #2A2A2A #121212;
    scrollbar-width: thin;
  }
  
  .content-item {
    background-color: #121212;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .content-item:hover {
    background-color: #333333;
  }
  
  .content-image {
    width: 15vw;
    height: 35vh;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .content-item h3 {
    margin: 10px 0 5px;
    font-size: 16px;
  }
  
  .content-item p {
    font-size: 14px;
    color: #b3b3b3;
  }
  